<% expectations = {:successful => "Successful", :organized => "Organized", :achieving => "Achieving", :respectful => "Respectful"} %>
<% functions = ["Obtain peer attention", "Obtain adult attention", "Obtain items/activities", "Obtain sensory input", "Avoid peers", "Avoid adult", "Avoid task or activity", "Avoid sensory input", "Unable to determine", "Other"] %>
<% responses = ["Verbal reminders (problem-solving cues)", "Time out", "Reflection sheet", "Peer mediation", "Loss of privilege", "Proximity controls", "Removal to other room ", "Change seat", "Call to parents", "Lunch Detention", "After-school Detention", "Physical hold" ] %>

<%= form_for(@incident) do |f| %>
    <%= render 'shared/error_messages' %>
    
    <p>
        <%= f.label "Date" %>
        <%= f.datetime_field :date_time %>
    </p>
    <p>
        <%= f.label "Expectation violated" %>
        <br />
        <% expectations.each do |expectation| %>
            <%= f.check_box(:expectation_violated[expectation[1]]) %>
            <%= f.label expectation %>
            <br />
        <% end %>
    </p>

    <%= submit_tag "Create my account", class: "btn btn-primary" %>
<% end %>